.error-message
  visibility: hidden
  opacity: 0
  height: 0
  transition: opacity .25s ease .25s, height .25s ease
  color: red
  font-size: 12px
  text-align: left
  &.invalid
    height: auto
    opacity: 1
    visibility: visible
    transition: opacity .25s ease, height .25s ease .25s
